// -----------------------------------------------------------------------------
//  font-wight
// -----------------------------------------------------------------------------
$thin: 100;
$ELight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$SBold: 600;
$bold: 700;
$EBold: 800;
$black: 900;
// -----------------------------------------------------------------------------
//  固有変数定義
// -----------------------------------------------------------------------------

// フォント
$font-modak: 'Modak', system-ui;
$font-bentham: 'Bentham', Georgia, serif;

// カラー
// $color-primary: #333333;
// $color-accent:  #ff6b6b;
$color-bg:      #F0EEE9;
$color-white:   #ffffff;
$color-border:  #eeeeee;
$color-text:    #333333;

// -----------------------------------------------------------------------------
//  固有スタイル定義
// -----------------------------------------------------------------------------
